ul {
    width: $ul-width;
    position: $ul-position;
    list-style-type: $ul-list-style-type;
    -webkit-padding-start: $ul-webkit-padding-start;
    -webkit-padding-end: $ul-webkit-padding-end;
}
